<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xaqinren.healthyelders">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 微信QQ分享需要 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- Maps(地图) begin -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".global.AppApplication"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <!-- 设置是否可以分屏 -->
        <!-- 这个属性在你target到Android N后，android:resizeableActivity的默认值就是true -->
        <!-- android:resizeableActivity="false" -->
        <!-- 10.0无法保持图片 需要的权限 -->
        <!-- android:requestLegacyExternalStorage="true" -->
        <!-- 避免10.0出现http联网问题 -->
        <!-- 表示可以明文访问网络http android:usesCleartextTraffic="true" -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- 声明最大高宽比 解决不能全屏问题 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <!--<meta-data
            android:name="PUSH_APPID"
            android:value="XwYjxHNTw66jgnQkmO94d3" />-->
        <meta-data android:name="GETUI_APPID" android:value="${GETUI_APPID}"/>

        <activity
            android:name=".moduleLogin.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="app_open"
                    android:path="/main_activity"
                    android:scheme="jkzl"
                    />
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".moduleHome.activity.WebActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="io.dcloud.common.util.DCloud_FileProvider"
            android:authorities="com.xaqinren.healthyelders.dc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/dcloud_file_provider" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.xaqinren.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- Maps(高德地图) begin -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c7e12ebf28500a8715e6a77a418f3cb2" />

        <service android:name="com.amap.api.location.APSService" />
        <service android:name=".moduleLiteav.service.LocationService" />
        <!-- 微信分享 配置begin -->
        <meta-data
            android:name="WX_APPID"
            android:value="wx4083c9a2be58173b" />
        <meta-data
            android:name="WX_SECRET"
            android:value="18b50310ab6362e34af5f6b2b33f6fee" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx4083c9a2be58173b" />
            </intent-filter>
        </activity> <!-- 微信分享 配置 end -->
        <!-- 微信支付 配置begin -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 微信分享 配置 end -->
        <!-- Oauth 授权登陆 start -->
        <!-- Oauth QQ start -->
        <!-- QQ 分享 配置和授权登陆相同 -->
        <meta-data
            android:name="QQ_APPID"
            android:value="%appid%" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="%appid%" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />        <!-- Oauth QQ end -->
        <activity
            android:name=".moduleZhiBo.activity.SettingRoomPwdActivity"
            android:theme="@style/AnimTheme" />
        <activity
            android:name=".moduleZhiBo.activity.StartLiveActivity"
            android:theme="@style/AnimTheme"
            android:launchMode="singleTask"/>
        <activity
            android:name=".moduleZhiBo.activity.StartRenZhengActivity"
            android:theme="@style/AnimTheme" />
        <activity
            android:name=".moduleLogin.activity.PhoneLoginActivity"
            android:theme="@style/AnimTheme" />
        <activity
            android:name=".moduleZhiBo.activity.StartRenZheng2Activity"
            android:theme="@style/AnimTheme" />
        <activity
            android:name=".moduleZhiBo.activity.RenZhengSuccessActivity"
            android:theme="@style/AnimTheme" />
        <activity
            android:name=".moduleLiteav.activity.LiveAVActivity"
            android:theme="@style/AnimTheme" />
        <activity android:name=".moduleZhiBo.activity.LiveZhuboActivity" />
        <activity
            android:name=".moduleZhiBo.activity.LiveGuanzhongActivity"
            android:theme="@style/AnimTheme" />
        <activity
            android:name=".moduleZhiBo.activity.ZBEditTextDialogActivity"
            android:theme="@style/EditDialogStyle" />
        <activity android:name=".moduleLiteav.activity.VideoEditerActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".moduleLiteav.activity.VideoPublishActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".moduleLiteav.activity.ChooseVideoCoverActivity" />
        <activity
            android:name=".moduleLogin.activity.SelectLoginActivity"
            android:theme="@style/AnimTheme" />
        <activity
            android:name=".moduleZhiBo.activity.MyGoodsListActivity"
            android:theme="@style/AnimTheme" />
        <activity
            android:name=".moduleZhiBo.activity.ZhiboOverActivity"
            android:theme="@style/AnimTheme" />
        <activity android:name=".moduleLiteav.activity.ChooseLocationActivity" />
        <activity
            android:name=".moduleLiteav.activity.ChooseUnLookActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".moduleZhiBo.activity.ZhiboOverGZActivity"
            android:theme="@style/AnimTheme" />
        <activity android:name=".moduleLiteav.activity.LiteAvPlayActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".modulePicture.activity.PublishTextPhotoActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".modulePicture.activity.TackPictureActivity" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".moduleLiteav.activity.LiteAvPlay2Activity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".modulePicture.activity.SelectorMediaActivity" />
        <activity android:name=".moduleLiteav.activity.MusicDetailsActivity" />
        <activity android:name=".moduleLiteav.activity.ChooseMusicActivity" />
        <activity android:name=".moduleHome.activity.VideoListActivity" />
        <activity android:name=".modulePicture.activity.TextPhotoDetailActivity" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".moduleLiteav.activity.MusicListActivity" />
        <activity android:name=".moduleZhiBo.activity.VideoEditTextDialogActivity"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"
            android:theme="@style/EditDialogStyle"
            />
        <activity android:name=".moduleHome.activity.DraftActivity">
            <intent-filter>
                <data
                    android:host="app_open"
                    android:path="/draft_activity"
                    android:scheme="jkzl"
                    />
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>

            </intent-filter>
        </activity>
        <activity android:name=".moduleHome.activity.VideoGridActivity" />
        <activity android:name=".modulePicture.activity.PublishAtActivity" />
        <activity android:name=".moduleMsg.activity.ChatActivity" />
        <activity android:name=".moduleHome.activity.SearchActivity" />
        <activity android:name=".moduleMsg.activity.InteractiveActivity" >
            <intent-filter>
                <data
                    android:host="app_open"
                    android:path="/interactive_activity"
                    android:scheme="jkzl"
                    />
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>

            </intent-filter>
        </activity>
        <activity android:name=".moduleMsg.activity.ContactsActivity" />
        <activity android:name=".moduleMsg.activity.AddFriendActivity"  android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".moduleHome.activity.SearchAllActivity" />
        <activity android:name=".moduleMsg.activity.FansMsgActivity" />
        <activity android:name=".moduleMsg.activity.SysMsgActivity" />
        <activity android:name=".moduleMsg.activity.LiveMsgActivity" />
        <activity android:name=".moduleMsg.activity.ServiceMsgActivity" />
        <activity android:name=".moduleMsg.activity.WalletMsgActivity" />
        <activity android:name=".widget.pickerView.cityPicker.CityPickerActivity" />

        <service
            android:name=".push.IPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice"/>
        <service android:name=".push.MyIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>